<section class="col-md-4">
  <div class="col-md-10">
    <div class="text-center">
      <h1>
        User Insert
      </h1>
    </div>
    <div>
      <form name="form" role="form" (ngSubmit)="save()" #form="ngForm">
        <div class="form-group">
          <label class="form-control-label" for="username">User Name: </label>
          <input type="text" class="form-control" id="username" [(ngModel)]="user.username"
                 name="username" #username="ngModel"/>
        </div>
        <button *ngIf="checkS" type="submit" class="btn btn-primary">Save</button>
        <div  *ngIf="checkU" class="btn-group flex-btn-group-container">
          <button class="btn btn-warning" (click)="change(user.id)">Update</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="col-md-8">
  <div>
    <h2>Career Profile Display</h2>

    <div class="table-responsive" *ngIf="users">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>User Name</th>
        </tr>
        </thead>
        <tbody *ngIf="users">
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td></td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>
            </div>
            <div class="btn-group flex-btn-group-container">
              <button class="btn btn-warning" (click)="update(user,user.id)">Edit</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
